// Icon bên trái input
.input-icon-left {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
    pointer-events: none;
    z-index: 2;
  }

// Input
  input {
    width: 100%;
    padding: 12px 40px 12px 40px; // padding-left 40px nếu có icon bên trái dùng để cho icon không che lấp input
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #eaf1ff;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #3498db;
    }
  }
  

  