.login-header {
  background: #be2233;
  color: #fff;
  padding: 16px 0 12px 0;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 2px 16px rgba(0,0,0,0.04);
  .header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 16px;
  }
  .header-logo {
    height: 56px;
    margin-right: 16px;
  }
  .header-title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .header-subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

.login-body {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.login-form {
    margin: 40px auto 0 auto; //  top 100px, auto trái/phải, 0 dưới
    background: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    min-width: 300px;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 20px; //  cách đều các input

    h3 {
      color: #2c3e50;
      font-weight: 600;
      margin-bottom: 32px;
      font-size: 28px;
      text-align: center;
    }
    
    .input-wrapper {
      position: relative;
      width: 100%;
    .input-icon-password {
        user-select: none;    // Ngăn chọn text khi click/drag vào icon
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        color: #030000;
        font-size: 15 px;
        cursor: pointer;
        &:hover {
        color: #3498db;
    }
      }
    }
    button[type="submit"] {
      width: 100%;
      padding: 14px;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 12px;
      background: linear-gradient(135deg, #3498db, #2980b9);
      border: none;
      color: white;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      min-width: 400px;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(52, 152, 219, 0.4);
      }
  
      &:active {
        transform: translateY(0);
      }
    }
  
    .forgot-password {
      font-size: 14px;
      color: #3498db;
      text-decoration: none;
      display: inline-block;
      margin-top: 10px;
      text-align: center;
      transition: color 0.3s ease;
  
      &:hover {
        color: #2980b9;
        text-decoration: underline;
      }
    }
  }
  