.sidebar {
  width: 250px;
  height: 100%;
  background-color:  #e3f4fd ;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-shrink: 0;
    
    .sidebar-menu {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        border-bottom: 1px solid #eee;
  
        .menu-link {
          display: flex;
          align-items: center;
          padding: 12px 16px;
          text-decoration: none;
          color: #333;
          transition: background 0.2s;
  
        .sidebar-icon {
          font-size: 20px;
          color: #2980b9;
          margin-right: 12px;
        }
        .item-label {
          font-size: 16px;
          font-weight: 500;
        }
  
          &:hover{
           background: #85bef6;
           color: #090000;
           border-left: 3px solid #21a1e1;
          }
        }
        
      }
    }
  }
  