@import '../../styles/variables';

.login-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('../../assets/images/bg-login.jpg');
  background-size: cover;
  background-position: center;
  padding: $space-6;
}