@import '../../styles/variables';

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $brand-primary;
  height: $navbar-height;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 100;
  padding: 0 $space-5;

  .navbar-right {
    display: flex;
    align-items: center;
    gap: $space-5;
  }
}
    
  