.login-footer {
  background: #1e9ddc;
  color: #0b0d10;
  padding: 20px 0;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.04);
  width: 100%;
  text-align: center;
  bottom: 0;
  position: absolute;

  .footer-content {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    text-align: left;

    .footer-gcut {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 800 px;
    }

    .footer-info {
      font-size: 12px;
      font-weight: 400 px;
    }
  }
}
