@import '../../styles/variables';

.login-footer {
  background: $brand-primary;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.04);
  width: 100%;
  text-align: center;
  bottom: 0;
  position: sticky;

  .footer-content {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
    text-align: left;

    .footer-gcut { font-size: 18px; line-height: 1.5; font-weight: 700; }
    .footer-info { font-size: 15px; font-weight: 500; opacity: 0.9; }
  }
}
