.action-button {
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(33,161,225,0.07);
  transition: background 0.18s, box-shadow 0.18s;
}

.btn-custom-search {
  background: #3380f3;
  &:hover {
    background: #1976d2;
    color: #fff;
    box-shadow: 0 6px 18px rgba(33,161,225,0.13);
  }
}

.btn-custom-add {
  background: #05c582;
  &:hover {
    background: #06b276;
    color: #fff;
    box-shadow: 0 6px 18px rgba(67,197,158,0.13);
  }
  &:active, &:focus {
    background: #06b276;
    color: #fff;
    box-shadow: 0 4px 12px rgba(67,197,158,0.18);
  }
}

.btn-custom-edit {
  background: #17b4ed;
  &:hover {
    background: #079ad0;
    color: #fff;
    box-shadow: 0 6px 18px rgba(255,179,0,0.13);
  }
  &:active, &:focus {
    background: #079ad0;
    color: #fff;
    box-shadow: 0 4px 12px rgba(255,179,0,0.18);
  }
}

.btn-custom-delete {
  background: #ec4a3f;
  &:hover {
    background: #cf3737;
    color: #fff;
    box-shadow: 0 6px 18px rgba(244,67,54,0.13);
  }
  &:active, &:focus {
    background: #cf3737;
    color: #fff;
    box-shadow: 0 4px 12px rgba(244,67,54,0.18);
  }
}

.btn-custom-export{
  background: #36ee79;
  &:hover {
    background: #13d484;
    color: #fff;
    box-shadow: 0 6px 18px rgba(240,173,78,0.13);
  }
  &:active, &:focus {
    background: #13d484;
    color: #fff;
    box-shadow: 0 4px 12px rgba(240,173,78,0.18);
  }
}

.btn-custom-refresh{
  background: #b7b4b1;
  &:hover {
    background: #6c6b69;
    color: #fff;
    box-shadow: 0 6px 18px rgba(240,173,78,0.13);
  }
  &:active, &:focus {
    background: #6c6b69;
    color: #fff;
    box-shadow: 0 4px 12px rgba(240,173,78,0.18);
  }
}

.btn-custom-add-reader {
  background: #3380f3;
  &:hover {
    background: #2566c7;
    color: #fff;
    box-shadow: 0 6px 18px rgba(51,128,243,0.13);
  }
  &:active, &:focus {
    background: #2566c7;
    color: #fff;
    box-shadow: 0 4px 12px rgba(51,128,243,0.18);
  }
}

.btn-custom-edit-personal-information{
  background: #17b4ed;
  &:hover {
    background: #079ad0;
    color: #fff;
    box-shadow: 0 6px 18px rgba(23,180,237,0.13);
  }
  &:active, &:focus {
    background: #079ad0;
    color: #fff;
    box-shadow: 0 4px 12px rgba(23,180,237,0.18);
  }
}

.btn-custom-edit-account-information{
  background: #05c582;
  &:hover {
    background: #06b276;
    color: #fff;
    box-shadow: 0 6px 18px rgba(5,197,130,0.13);
  }
  &:active, &:focus {
    background: #06b276;
    color: #fff;
    box-shadow: 0 4px 12px rgba(5,197,130,0.18);
  }
}