.action-button {
  display: flex;
  align-items: center;
  min-width: 120px ;
  padding: 0.4rem 1.2rem;
  font-size: 0.98rem;
  color: #fff;
  border: none;
  border-radius:10px; 
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(3, 18, 26, 0.07) ;
  transition: background 0.18s, box-shadow 0.18s ;
  height: 44px;
}

.btn-custom-search {
  background: #2795da ;
  &:hover {
    background: #1770c9 ; 
    color: #fff;
    transform: translateY(-1.8px) scale(1) ;
    box-shadow: 0 6px 18px rgba(33,161,225,0.13) ;
  }
}

 .btn-custom-add-book {
  background: #09e196;
  &:hover {
    background: #06a578 ;
    color: #fff;
    transform: translateY(-1.8px) scale(1);
    box-shadow: 0 6px 18px rgba(67,197,158,0.13);
  }
}

.btn-custom-update-reader-info {
  background: #23b5eb;
  &:hover {
    background: #079ad0;
    color: #fff;
    transform: translateY(-1.8px) scale(1);
    box-shadow: 0 6px 18px rgba(255,179,0,0.13);
  }
}

.btn-custom-update-book {
  justify-content: center;
  background: #23b5eb;
  &:hover {
    background: #079ad0;
    color: #fff;
    transform: translateY(-1.8px) scale(1);
    box-shadow: 0 6px 18px rgba(255,179,0,0.13);
  }
}
.btn-custom-delete {
  background: #ec4a3f;
  justify-content: center;
  &:hover {
    background: #cf3737;
    color: #fff;
    box-shadow: 0 6px 18px rgba(244,67,54,0.13);
    transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-export{
  background: #36ee79;
  &:hover {
    background: #13d484;
    color: #fff;
    box-shadow: 0 6px 18px rgba(240,173,78,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-refresh{
  background: #b7b4b1;
  &:hover {
    background: #848380;
    color: #fff;
    box-shadow: 0 6px 18px rgba(240,173,78,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-add-reader {
  background: #0466f9;
  &:hover {
    background: #053fc8;
    color: #fff;
    box-shadow: 0 6px 18px rgba(51,128,243,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-edit-personal-information{
  background: #2fcde5;
  min-width: 270px;
  &:hover {
    background:rgb(6, 192, 173);
    color: #fff;
    box-shadow: 0 6px 18px rgba(23,180,237,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-update-account-information{

  background: #ee6c21;
  min-width: 270px;
  &:hover {
    background: #ce6d06;
    color: #fff;
    box-shadow: 0 6px 18px rgba(5,197,130,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}

.btn-custom-add-account{
  background: #8963d1;
  &:hover {
    background: #6f42c1;
    color: #fff;
    box-shadow: 0 6px 18px rgba(5,197,130,0.13);
     transform: translateY(-1.8px) scale(1);
  }
}
