
.login-header {
  background: #1e9ddc;
  color: #060a0b;
  position: absolute;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 2px 16px rgba(0,0,0,0.04);
  width: 100%;
  padding: 16px 0;

  .header-content {
    margin-left: 30px;
    gap: 16px;
    
    .header-title {
      font-weight: 400 px;
      font-size: 18px;
      letter-spacing: 1px;
    }
    
    .header-subtitle {
      font-size: 18px;
      letter-spacing: 0.5px;
    }
  }
}